@model AppLojaBoa.Models.Cliente
@{
    ViewBag.Title = "Cliente";
}

<h2>Cliente</h2>
<div class="textorosa">
    <p>@Model.CliId</p>
    <p>@Model.CliNome</p>
    <p>@Model.CliNasc</p>
    <p>@Model.CliEnd</p>
</div>